{
    email {$LETSENCRYPT_EMAIL}
}

{$FRONTEND_DOMAIN} {
    encode gzip zstd

    reverse_proxy gateway:80 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up X-Real-IP {remote_host}
    }
}
