fastapi
uvicorn
sqlalchemy
psycopg2-binary
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
alembic
asyncpg
greenlet
pydantic-settings
python-multipart
email-validator
pytest==7.4.3
pytest-asyncio==0.23.5
httpx==0.26.0
aiosqlite==0.19.0
pytest-cov==4.1.0
nanoid
jinja2
requests
gunicorn
slowapi==0.1.9
